body{
    border: 1px solid whitesmoke;
    padding: 70px;
}
.menna{
    background-color: #2596be;
}
img{
    border-radius: 50%;

}
.about-all{
   
    padding: 20px;
    gap: 200px;
}
h4{
   
    text-decoration: underline;
}
h5{
    color: #2596be;
}